
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin: 0 auto;
    border: 3px solid #3D52A0;
    background-color: #EDE8F5;    
}

/* HEADER styles for the header */
header {
	padding: 1px 0 1px 0;
	border-bottom: 3px solid #3D52A0;
	background-color: #7091E6;  

}
header h1 {	font-size: 175%;	color: black;	text-align: center;}



/* NAV styles for the header */

#nav_menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
}
#nav_menu ul li {
	float: left;
}

#nav_menu ul li a {
    display: block;
    width: 160px;
    text-align: center;
    padding: 1em 0;
    text-decoration: none;
    font-weight: bold;
}


main {
	clear: left;
}

/* the styles for the section */
section {
	width: 65%;
	float: left;
	padding: 10px .5% 10px .5%;
}

section h2 {
	color: black;
	font-size: 130%;
	padding: .5em 0 .25em 0;
}


section img {
	width: 100%;
	height: auto;
	padding: .5em 0 .25em 0;
}


/* the styles for the aside */
aside {
	width: 30%;
	float: right;
	padding: 10px .5% 10px .5%;
}
aside h2 {
	color: #800000;
	font-size: 130%;
padding: .5em 0 .25em 0;
}

aside h3 {
	font-size: 105%;
	padding-bottom: .25em;
}
aside img {
	padding-bottom: 1em;
}

/* the styles for the footer */
footer {
	background-color: #7091E6;
	clear: both;

}
footer p {
	text-align: center;
	color: white;
	padding: 1em 0;
}
